@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
:root {
  --cor-destaque: #b8962e;
  --cor-destaque-active: #7c6622; 
  --cor-destaque-borda: #b8962e4c;
  --cor-destaque-borda-2: #b8962e81;
  --cor-borda: #ffffff2a;
  --texto-secundario: #99a4b2;
  --texto-terciario: #ffffffad;
  --ocor: #0000006b;
}
.text-title{
    font-family: 'Times New Roman', Times, serif;
}
.text-secundario{
     font-family: "Inter", sans-serif;
}
.ativar_menu{
    opacity: 1;
    transform: translateY(20px);
    pointer-events: all;
}
.ativar_menu_burger div:nth-child(1){
    transform: translateY(8px) rotate(-45deg);
}
.ativar_menu_burger div:nth-child(2){
    opacity: 0;
}
.ativar_menu_burger div:nth-child(3){
    transform: translateY(-8px) rotate(45deg);
}
#inicio{
    background-image: url(../img/hero.jpg);
}
.imagem{
    background-image: url(../img/about.jpg);
}