@import "tailwindcss";
@import url('<link rel="preconnect" href="https://fonts.googleapis.com">');
@import url('<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>');
@import url('<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">');
@import url('<link href="https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap" rel="stylesheet">');
:root {
  --cor-destaque: #b8962e;
  --cor-destaque-active: #7c6622; 
  --cor-borda: #ffffff2a;
  --texto-secundario: #99a4b2;
}
.text-title{
    font-family: "Playfair Display", serif;
}
.text-secundario{
     font-family: "Inter", sans-serif;
}
.ativar_menu{
    opacity: 1;
    transform: translateY(20px);
    pointer-events: all;
}
.ativar_menu_burger div:nth-child(1){
    transform: translateY(8px) rotate(-45deg);
}
.ativar_menu_burger div:nth-child(2){
    opacity: 0;
}
.ativar_menu_burger div:nth-child(3){
    transform: translateY(-8px) rotate(45deg);
}